Repository ocaml/dune, pull requests merged in 2021-06, with the labels that each got.

#4664 Reference Merlin naming convention in copy rule documentation
  doc/concepts.rst
  doc/usage.rst
Labels: docs

#4713 Library coq.kernel replaced by coq-core.kernel in Coq >= 8.14
  CHANGES.md
  doc/dune-files.rst
  src/dune_rules/coq_rules.ml
Labels: coq

#4753 [coq] Fix silly bug in native install rules when non-trivial wrappers are used
  CHANGES.md
  src/dune_rules/coq_module.ml
  src/dune_rules/coq_rules.ml
  test/blackbox-tests/test-cases/coq/native-compose.t/bar/dune
  test/blackbox-tests/test-cases/coq/native-compose.t/foo/a/a.v
  test/blackbox-tests/test-cases/coq/native-compose.t/foo/dune
  test/blackbox-tests/test-cases/coq/native-compose.t/run.t
Labels: bug, coq

#4749 [coq] Fix computation of profile flags.
  CHANGES.md
  src/dune_rules/coq_rules.ml
  src/dune_rules/env_node.ml
  src/dune_rules/env_node.mli
  src/dune_rules/super_context.mli
  test/blackbox-tests/test-cases/coq/env.t
Labels: bug, coq, test-suite

#4748 [coq] Add test cases for flags
  test/blackbox-tests/test-cases/coq/flags.t
Labels: coq, test-suite

#4757 [2.9] [coq] Library coq.kernel replaced by coq-core.kernel in Coq >= 8.14
  CHANGES.md
  doc/dune-files.rst
  src/dune_rules/coq_rules.ml
Labels: coq

#4758 [2.9] [coq] Fix computation of profile flags
  CHANGES.md
  src/dune_rules/coq_rules.ml
  src/dune_rules/env_node.ml
  src/dune_rules/env_node.mli
  src/dune_rules/super_context.mli
  test/blackbox-tests/test-cases/coq/env.t
  test/blackbox-tests/test-cases/coq/flags.t
Labels: bug, coq

#4759 [coq] Fix silly bug in native install rules when non-trivial theory wrappers are used
  CHANGES.md
  src/dune_rules/coq_module.ml
  src/dune_rules/coq_rules.ml
  test/blackbox-tests/test-cases/coq/native-compose.t/bar/dune
  test/blackbox-tests/test-cases/coq/native-compose.t/foo/a/a.v
  test/blackbox-tests/test-cases/coq/native-compose.t/foo/dune
  test/blackbox-tests/test-cases/coq/native-compose.t/run.t
Labels: bug, coq

#4760 [coq] Adjust warnings on Coq 8.14 and `(lang coq (>= 0.3))`
  CHANGES.md
  src/dune_rules/coq_rules.ml
  test/blackbox-tests/test-cases/coq/flags.t
Labels: coq

#4761 [2.9] [coq] Adjust warnings on Coq 8.14 and `(lang coq (>= 0.3))`
  CHANGES.md
  src/dune_rules/coq_rules.ml
  test/blackbox-tests/test-cases/coq/flags.t
Labels: coq

#4767 [coq] Display coq env flags in `dune printenv`
  CHANGES.md
  src/dune_rules/super_context.ml
  test/blackbox-tests/test-cases/workspaces.t/run.t
Labels: coq, enhancement
