Repository ocaml/dune, pull requests merged in 2022-11, with the labels that each got.

#6374 fix(ctypes): remove unnecessary case changes
  CHANGES.md
  src/dune_rules/ctypes_stanza.ml
  test/blackbox-tests/test-cases/ctypes/github-5561-name-mangle.t
Labels: ctypes

#6338 refactor(coq): flatten coqc and coqc_dir into record
  src/dune_rules/coq_rules.ml
Labels: coq

#6383 refactor(coq): inline functions in coqtop
  bin/coqtop.ml
Labels: coq

#6229 feature(coq): support :standard in coq.pp (modules) field
  CHANGES.md
  doc/coq.rst
  src/dune_rules/coq_rules.ml
  src/dune_rules/coq_sources.ml
  src/dune_rules/coq_sources.mli
  src/dune_rules/coq_stanza.ml
  src/dune_rules/coq_stanza.mli
  src/dune_rules/dir_contents.ml
  test/blackbox-tests/test-cases/coq/coqpp.t/dune-project
  test/blackbox-tests/test-cases/coq/coqpp.t/gram.mlg
  test/blackbox-tests/test-cases/coq/coqpp.t/marg.mlg
  test/blackbox-tests/test-cases/coq/coqpp.t/run.t
Labels: coq

#6398 feature(melange): support root_module
  src/dune_rules/melange_stanzas.ml
  src/dune_rules/melange_stanzas.mli
  src/dune_rules/ml_sources.ml
  test/blackbox-tests/test-cases/melange/root-module.t
Labels: melange

#6406 chore(melange): replace pin with opam version
  Makefile
Labels: melange

#6413 doc(melange): remove docs
  doc/dune-files.rst
  doc/index.rst
  doc/melange.rst
Labels: docs, melange

#6369 fix(coq): fix coqtop args being passed incorrectly
  CHANGES.md
  bin/coqtop.ml
  src/dune_rules/coq_rules.ml
  src/dune_rules/coq_rules.mli
  test/blackbox-tests/test-cases/coq/coqtop/coqtop-flags.t/run.t
  test/blackbox-tests/test-cases/coq/coqtop/coqtop-nested.t/run.t
  test/blackbox-tests/test-cases/coq/coqtop/coqtop-recomp.t
  test/blackbox-tests/test-cases/coq/coqtop/coqtop-root.t/run.t
Labels: coq

#6401 feature(melange): alias field for `melange.emit`
  src/dune_rules/melange_rules.ml
  src/dune_rules/melange_stanzas.ml
  src/dune_rules/melange_stanzas.mli
  test/blackbox-tests/test-cases/melange/aliases.t
Labels: melange

#6444 feature(melange): virtual libs
  src/dune_rules/virtual_rules.ml
  test/blackbox-tests/test-cases/melange/virtual_lib.t/c.ml
  test/blackbox-tests/test-cases/melange/virtual_lib.t/dune
  test/blackbox-tests/test-cases/melange/virtual_lib.t/impl/vlib.ml
  test/blackbox-tests/test-cases/melange/virtual_lib.t/run.t
Labels: melange

#6450 feature(melange): more flexible layout for emit
  src/dune_rules/melange_rules.ml
  test/blackbox-tests/test-cases/melange/include_subdirs.t/run.t
  test/blackbox-tests/test-cases/melange/outside.t/dune-project
  test/blackbox-tests/test-cases/melange/outside.t/inside/c.ml
  test/blackbox-tests/test-cases/melange/outside.t/inside/dune
  test/blackbox-tests/test-cases/melange/outside.t/lib/b.ml
  test/blackbox-tests/test-cases/melange/outside.t/lib/b.mli
  test/blackbox-tests/test-cases/melange/outside.t/lib/dune
  test/blackbox-tests/test-cases/melange/outside.t/run.t
  test/blackbox-tests/test-cases/melange/private.t/run.t
  test/blackbox-tests/test-cases/melange/public.t/run.t
  test/blackbox-tests/test-cases/melange/simple.t/run.t
Labels: melange

#6463 chore(coq): remove coq lang 0.7
  src/dune_rules/coq_stanza.ml
  test/blackbox-tests/test-cases/coq/coqpp.t/dune-project
  test/blackbox-tests/test-cases/coq/coqtop/coqtop-flags.t/dune-project
  test/blackbox-tests/test-cases/coq/coqtop/coqtop-root.t/run.t
  test/blackbox-tests/test-cases/coq/github3624.t
Labels: coq

#6454 feature(melange): fix merlin for emit stanza
  src/dune_rules/artifacts_db.ml
  src/dune_rules/cinaps.ml
  src/dune_rules/exe_rules.ml
  src/dune_rules/install_rules.ml
  src/dune_rules/lib.ml
  src/dune_rules/lib.mli
  src/dune_rules/mdx.ml
  src/dune_rules/melange_rules.ml
  src/dune_rules/merlin_ident.ml
  src/dune_rules/merlin_ident.mli
  src/dune_rules/toplevel.ml
  src/dune_rules/utop.ml
  test/blackbox-tests/test-cases/melange/merlin.t
Labels: melange

#6400 feature(melange): unmangle js file names
  Makefile
  src/dune_rules/melange.ml
  src/dune_rules/melange.mli
  src/dune_rules/melange_rules.ml
  src/dune_rules/module_compilation.ml
  test/blackbox-tests/test-cases/melange/aliases.t
  test/blackbox-tests/test-cases/melange/dune-js-file-unmangling.t/dune
  test/blackbox-tests/test-cases/melange/dune-js-file-unmangling.t/dune-project
  test/blackbox-tests/test-cases/melange/dune-js-file-unmangling.t/entry_module.ml
  test/blackbox-tests/test-cases/melange/dune-js-file-unmangling.t/leaf/dune
  test/blackbox-tests/test-cases/melange/dune-js-file-unmangling.t/leaf/leaf.ml
  test/blackbox-tests/test-cases/melange/dune-js-file-unmangling.t/leaf/other.ml
  test/blackbox-tests/test-cases/melange/dune-js-file-unmangling.t/parent/dune
  test/blackbox-tests/test-cases/melange/dune-js-file-unmangling.t/parent/m_a.ml
  test/blackbox-tests/test-cases/melange/dune-js-file-unmangling.t/parent/m_b.ml
  test/blackbox-tests/test-cases/melange/dune-js-file-unmangling.t/run.t
  test/blackbox-tests/test-cases/melange/empty-entries.t
  test/blackbox-tests/test-cases/melange/flags.t
  test/blackbox-tests/test-cases/melange/include_subdirs.t/run.t
  test/blackbox-tests/test-cases/melange/intfonly.t/run.t
  test/blackbox-tests/test-cases/melange/mli.t/run.t
  test/blackbox-tests/test-cases/melange/multilib.t/run.t
  test/blackbox-tests/test-cases/melange/preprocess.t
  test/blackbox-tests/test-cases/melange/private-module.t/run.t
  test/blackbox-tests/test-cases/melange/private.t/run.t
  test/blackbox-tests/test-cases/melange/public.t/run.t
  test/blackbox-tests/test-cases/melange/reused-module.t
  test/blackbox-tests/test-cases/melange/root-module.t
  test/blackbox-tests/test-cases/melange/simple.t/run.t
  test/blackbox-tests/test-cases/melange/unmangling.t
  test/blackbox-tests/test-cases/melange/virtual_lib.t/run.t
Labels: melange

#6457 feature(melange): add js_ext field
  src/dune_rules/melange.ml
  src/dune_rules/melange.mli
  src/dune_rules/melange_rules.ml
  src/dune_rules/melange_stanzas.ml
  src/dune_rules/melange_stanzas.mli
  test/blackbox-tests/test-cases/melange/javascript-extension.t
  test/blackbox-tests/test-cases/melange/private.t/inside/dune
  test/blackbox-tests/test-cases/melange/private.t/package.json
  test/blackbox-tests/test-cases/melange/private.t/run.t
Labels: melange

#6409 feature(coq): automatic detection of native
  CHANGES.md
  doc/coq.rst
  src/dune_rules/coq_mode.ml
  src/dune_rules/coq_mode.mli
  src/dune_rules/coq_rules.ml
  src/dune_rules/coq_stanza.ml
  src/dune_rules/coq_stanza.mli
  test/blackbox-tests/test-cases/coq/coqdep-on-rebuild.t/dune-project
  test/blackbox-tests/test-cases/coq/coqdep-on-rebuild.t/run.t
  test/blackbox-tests/test-cases/coq/coqtop/coqtop-flags.t/run.t
Labels: coq

#6347 chore(nix): make it faster to get melange
  flake.lock
  flake.nix
Labels: melange

#6362 coq: add test showing lack of --coqlib in coqdoc calls
  test/blackbox-tests/test-cases/coq/coqdoc-with-boot.t/A/a.v
  test/blackbox-tests/test-cases/coq/coqdoc-with-boot.t/A/dune
  test/blackbox-tests/test-cases/coq/coqdoc-with-boot.t/A/dune-project
  test/blackbox-tests/test-cases/coq/coqdoc-with-boot.t/Coq/Coq.opam
  test/blackbox-tests/test-cases/coq/coqdoc-with-boot.t/Coq/Init/Prelude.v
  test/blackbox-tests/test-cases/coq/coqdoc-with-boot.t/Coq/dune
  test/blackbox-tests/test-cases/coq/coqdoc-with-boot.t/Coq/dune-project
  test/blackbox-tests/test-cases/coq/coqdoc-with-boot.t/Coq/mytheory.v
  test/blackbox-tests/test-cases/coq/coqdoc-with-boot.t/dune-workspace
  test/blackbox-tests/test-cases/coq/coqdoc-with-boot.t/run.t
Labels: coq

#6483 refactor(coq): remove Value.t from coq_config
  src/dune_rules/coq_config.ml
  src/dune_rules/coq_config.mli
  src/dune_rules/coq_rules.ml
  src/dune_rules/expander.ml
Labels: coq

#6500 feat(melange): implement promotion for melange.emit
  src/dune_rules/melange_rules.ml
  src/dune_rules/melange_stanzas.ml
  src/dune_rules/melange_stanzas.mli
  test/blackbox-tests/test-cases/melange/promote-with-lib.t
  test/blackbox-tests/test-cases/melange/promote.t
Labels: melange

#6506 test(melange): demonstrate build failure when target dir exists
  test/blackbox-tests/test-cases/melange/empty-entries-target-dir-exists.t
Labels: melange

#6392 Add doc for config file
  CHANGES.md
  doc/dune-files.rst
Labels: docs

#6504 feat(melange): add rescript syntax dialect
  Makefile
  flake.nix
  src/dune_engine/action.ml
  src/dune_engine/dialect.ml
  src/dune_engine/dialect.mli
  src/dune_engine/dune_project.ml
  src/dune_engine/dune_project.mli
  src/dune_rules/dune_file.ml
  src/dune_rules/melange.ml
  src/dune_rules/melange.mli
  test/blackbox-tests/test-cases/melange/rescript-syntax.t
Labels: melange

#6548 melange: add test for ocaml flags
  test/blackbox-tests/test-cases/melange/ocaml-flags.t
Labels: melange

#6552 refactor(coq): resolve lack of coqc properly
  src/dune_rules/coq_config.ml
  src/dune_rules/coq_config.mli
  src/dune_rules/coq_rules.ml
  src/dune_rules/expander.ml
Labels: coq

#6403 melange: error out if melc is not found
  src/dune_rules/module_compilation.ml
  test/blackbox-tests/test-cases/melange/missing-melc.t
Labels: melange

#6579 fix(rule generation): redirect to melange.emit parents
  src/dune_rules/gen_rules.ml
  test/blackbox-tests/test-cases/melange/empty-entries-target-dir-exists.t
Labels: melange

#6601 fix(melange): add loc to `Melange_binary.{melc,where}`
  src/dune_rules/melange_binary.ml
  src/dune_rules/melange_binary.mli
  src/dune_rules/melange_rules.ml
  src/dune_rules/merlin.ml
  src/dune_rules/module_compilation.ml
Labels: melange

#6569 melange: add melc_flags
  src/dune_rules/exe.ml
  src/dune_rules/lib_mode.ml
  src/dune_rules/lib_mode.mli
  src/dune_rules/lib_rules.ml
  src/dune_rules/melange_rules.ml
  src/dune_rules/melange_stanzas.ml
  src/dune_rules/melange_stanzas.mli
  src/dune_rules/module_compilation.ml
  src/dune_rules/ocaml_flags.ml
  src/dune_rules/ocaml_flags.mli
  src/dune_rules/super_context.mli
  test/blackbox-tests/test-cases/melange/flags.t
  test/blackbox-tests/test-cases/melange/ocaml-flags.t
  test/blackbox-tests/test-cases/workspaces/workspace-env.t/run.t
Labels: melange

#6476 fix(melange): run melc ppx with merlin
  src/dune_rules/merlin.ml
  test/blackbox-tests/test-cases/melange/merlin.t
Labels: melange
