Repository ocaml/dune, pull requests merged in 2022-10, with the labels that each got.

#6192 cleanup(coq): factor coqtop through existing functions
  bin/coqtop.ml
  src/dune_rules/coq_rules.ml
Labels: coq

#6197 refactor(coq): minor tweaks
  src/dune_rules/coq_rules.ml
Labels: coq, refactoring

#5778 Doc for Coq plugins
  doc/coq.rst
Labels: coq

#6207 coq(doc) unbreak test suite due to oversight in previous merge
  doc/coq.rst
Labels: coq

#6208 [coq] [doc] Some fixes to documentation.
  doc/coq.rst
Labels: coq

#6167 [coq] Add dependency to META file for Coq plugins
  CHANGES.md
  src/dune_rules/coq_rules.ml
  test/blackbox-tests/test-cases/coq/deprecate-libraries.t/bar.opam
  test/blackbox-tests/test-cases/coq/deprecate-libraries.t/run.t
  test/blackbox-tests/test-cases/coq/plugin-meta.t/bar.opam
  test/blackbox-tests/test-cases/coq/plugin-meta.t/bar.v
  test/blackbox-tests/test-cases/coq/plugin-meta.t/dune-project
  test/blackbox-tests/test-cases/coq/plugin-meta.t/foo.ml
  test/blackbox-tests/test-cases/coq/plugin-meta.t/run.t
  test/blackbox-tests/test-cases/coq/plugin-private.t/bar.opam
  test/blackbox-tests/test-cases/coq/plugin-private.t/bar.v
  test/blackbox-tests/test-cases/coq/plugin-private.t/dune-project
  test/blackbox-tests/test-cases/coq/plugin-private.t/foo.ml
  test/blackbox-tests/test-cases/coq/plugin-private.t/run.t
Labels: coq

#6216 Doc: add examples for the glob syntax
  doc/concepts.rst
Labels: docs

#6239 [docs] Melange mode in library
  doc/dune-files.rst
  doc/index.rst
  doc/jsoo.rst
  doc/melange.rst
Labels: melange

#5994 initial edits for quickstart, and slight edits in examples ReadMes
  doc/quick-start.rst
  example/hello_world.t/README.org
  example/with-configure-step.t/README.org
Labels: docs

#6346 fix(melange): merlin support for melange only libs
  src/dune_rules/exe_rules.ml
  src/dune_rules/lib_rules.ml
  src/dune_rules/merlin.ml
  src/dune_rules/merlin.mli
  test/blackbox-tests/test-cases/melange/merlin.t
Labels: melange

#6359 melange: private modules
  src/dune_rules/coq_rules.ml
  src/dune_rules/lib_file_deps.ml
  src/dune_rules/lib_flags.ml
  src/dune_rules/merlin.ml
  src/dune_rules/module_compilation.ml
  src/dune_rules/obj_dir.ml
  src/dune_rules/obj_dir.mli
  src/dune_rules/virtual_rules.ml
  test/blackbox-tests/test-cases/melange/private-module.t/app/dune
  test/blackbox-tests/test-cases/melange/private-module.t/app/foo.ml
  test/blackbox-tests/test-cases/melange/private-module.t/foo.ml
  test/blackbox-tests/test-cases/melange/private-module.t/run.t
  test/blackbox-tests/test-cases/melange/private-module.t/with-private/dune
  test/blackbox-tests/test-cases/melange/private-module.t/with-private/y.ml
Labels: melange

#6365 melange: use double hyphen for bs-read-cmi
  src/dune_rules/module_compilation.ml
Labels: melange
