Repository ocaml/dune, pull requests merged in 2023-06, with the labels that each got.

#7830 Test errors for invalid opam repositories
  src/dune_pkg/opam.ml
  test/blackbox-tests/test-cases/pkg/invalid-opam-repo-errors.t/bad-repo-file/packages/empty
  test/blackbox-tests/test-cases/pkg/invalid-opam-repo-errors.t/bad-repo-file/repo
  test/blackbox-tests/test-cases/pkg/invalid-opam-repo-errors.t/bad-repo-version/packages/empty
  test/blackbox-tests/test-cases/pkg/invalid-opam-repo-errors.t/bad-repo-version/repo
  test/blackbox-tests/test-cases/pkg/invalid-opam-repo-errors.t/no-packages-dir/repo
  test/blackbox-tests/test-cases/pkg/invalid-opam-repo-errors.t/no-repo-file/empty
  test/blackbox-tests/test-cases/pkg/invalid-opam-repo-errors.t/no-repo-file/packages/empty
  test/blackbox-tests/test-cases/pkg/invalid-opam-repo-errors.t/no-repo-version/packages/empty
  test/blackbox-tests/test-cases/pkg/invalid-opam-repo-errors.t/no-repo-version/repo
  test/blackbox-tests/test-cases/pkg/invalid-opam-repo-errors.t/run.t
Labels: package management

#7862 coq: add missing changelog entry
  CHANGES.md
Labels: docs, coq

#7835 feature(pkg): lock file configuration in workspace
  src/dune_lang/pform.ml
  src/dune_rules/context.ml
  src/dune_rules/pkg_rules.ml
  src/dune_rules/workspace.ml
  src/dune_rules/workspace.mli
  test/blackbox-tests/test-cases/pkg/per-context.t
Labels: package management

#7861 doc(melange): document `enabled_if` in `melange.emit`
  doc/melange.rst
Labels: docs, melange

#7849 test(melange): demonstrate melange.emit doesn't respect `-p`
  src/dune_rules/melange/melange_rules.ml
  src/dune_rules/resolve.ml
  src/dune_rules/resolve.mli
  test/blackbox-tests/test-cases/melange/melange-emit-package.t
Labels: melange

#7850 melange: update docs
  doc/index.rst
  doc/melange.rst
Labels: docs, melange

#7911 doc: .opam.template files can be generated
  doc/reference/packages.rst
Labels: docs

#7896 test(x-compilation): resolution failure for transitive `ppx_runtime_libraries`
  test/blackbox-tests/test-cases/custom-cross-compilation/ppx-runtime-libraries-transitive.t/other-ppx/dune-project
  test/blackbox-tests/test-cases/custom-cross-compilation/ppx-runtime-libraries-transitive.t/other-ppx/plugins/dune
  test/blackbox-tests/test-cases/custom-cross-compilation/ppx-runtime-libraries-transitive.t/other-ppx/plugins/other_ppx_eq.ml
  test/blackbox-tests/test-cases/custom-cross-compilation/ppx-runtime-libraries-transitive.t/other-ppx/src/api/dune
  test/blackbox-tests/test-cases/custom-cross-compilation/ppx-runtime-libraries-transitive.t/other-ppx/src/api/other_ppx.ml
  test/blackbox-tests/test-cases/custom-cross-compilation/ppx-runtime-libraries-transitive.t/other-ppx/src/runtime/dune
  test/blackbox-tests/test-cases/custom-cross-compilation/ppx-runtime-libraries-transitive.t/other-ppx/src/runtime/other_ppx_runtime.ml
  test/blackbox-tests/test-cases/custom-cross-compilation/ppx-runtime-libraries-transitive.t/run.t
Labels: cross-compilation

#7895 [coq] Fix coqlib file scanning.
  CHANGES.md
  src/dune_rules/coq/coq_lib.ml
  src/dune_rules/coq/coq_lib.mli
  src/dune_rules/coq/coq_path.ml
  src/dune_rules/coq/coq_path.mli
  test/blackbox-tests/test-cases/coq/compose-installed-plugin.t/run.t
  test/blackbox-tests/test-cases/coq/compose-installed-plugin.t/to_install/dune-project
  test/blackbox-tests/test-cases/coq/compose-installed-plugin.t/to_install/plugin/dune
  test/blackbox-tests/test-cases/coq/compose-installed-plugin.t/to_install/plugin/p.ml
  test/blackbox-tests/test-cases/coq/compose-installed-plugin.t/to_install/plugin/plugin.mlpack
  test/blackbox-tests/test-cases/coq/compose-installed-plugin.t/to_install/theory/bar.v
  test/blackbox-tests/test-cases/coq/compose-installed-plugin.t/to_install/theory/dune
  test/blackbox-tests/test-cases/coq/compose-installed-plugin.t/user/bar.v
  test/blackbox-tests/test-cases/coq/compose-installed-plugin.t/user/dune
  test/blackbox-tests/test-cases/coq/compose-installed-plugin.t/user/dune-project
  test/blackbox-tests/test-cases/coq/compose-installed-rebuild.t/run.t
  test/blackbox-tests/test-cases/coq/coqtop/coqtop-flags.t/run.t
  test/blackbox-tests/test-cases/coq/coqtop/coqtop-nested.t/run.t
  test/blackbox-tests/test-cases/coq/coqtop/coqtop-no-build.t
  test/blackbox-tests/test-cases/coq/coqtop/coqtop-recomp.t
  test/blackbox-tests/test-cases/coq/coqtop/coqtop-root.t/run.t
  test/blackbox-tests/test-cases/coq/flags.t
Labels: coq

#7874 nix: allow entering slim shell with packages compiled from local dune
  flake.lock
  flake.nix
Labels: nix

#7926 melange - add `melange.emit` targets to `@all` alias as well by default
  CHANGES.md
  src/dune_rules/melange/melange_rules.ml
  test/blackbox-tests/test-cases/melange/aliases.t
  test/blackbox-tests/test-cases/melange/dune-rules.t
Labels: melange

#7938 chore(nix): expose `dune` in `$PATH` in non-scope shells
  flake.nix
Labels: nix

#7918 ci bench: remove melange pins
  .github/workflows/bench.yml
Labels: melange

#7936 pkg: use Dyn.variant constructor for Op
  src/dune_rules/package.ml
Labels: package management

#7919 split describe into cmdliner subcommands
  CHANGES.md
  bin/describe.ml
  bin/describe.mli
  bin/describe/describe.ml
  bin/describe/describe.mli
  bin/describe/describe_external_lib_deps.ml
  bin/describe/describe_external_lib_deps.mli
  bin/describe/describe_format.ml
  bin/describe/describe_format.mli
  bin/describe/describe_lang_compat.ml
  bin/describe/describe_lang_compat.mli
  bin/describe/describe_opam_files.ml
  bin/describe/describe_opam_files.mli
  bin/describe/describe_pp.ml
  bin/describe/describe_pp.mli
  bin/describe/describe_workspace.ml
  bin/describe/describe_workspace.mli
  bin/main.ml
  test/blackbox-tests/test-cases/describe/describe-pp/describe-pp.t/dune-project
  test/blackbox-tests/test-cases/describe/describe-pp/describe-pp.t/pp/dune
  test/blackbox-tests/test-cases/describe/describe-pp/describe-pp.t/pp/pp.mll
  test/blackbox-tests/test-cases/describe/describe-pp/describe-pp.t/run.t
  test/blackbox-tests/test-cases/describe/describe-pp/describe-pp.t/src/dune
  test/blackbox-tests/test-cases/describe/describe-pp/describe-pp.t/src/main.ml
  test/blackbox-tests/test-cases/describe/describe-pp/describe-pp.t/src/util.ml
  test/blackbox-tests/test-cases/describe/describe-pp/describe-staged-pps.t/dune-project
  test/blackbox-tests/test-cases/describe/describe-pp/describe-staged-pps.t/ppx/dune
  test/blackbox-tests/test-cases/describe/describe-pp/describe-staged-pps.t/ppx/ppx.ml
  test/blackbox-tests/test-cases/describe/describe-pp/describe-staged-pps.t/run.t
  test/blackbox-tests/test-cases/describe/describe-pp/describe-staged-pps.t/src/dune
  test/blackbox-tests/test-cases/describe/describe-pp/describe-staged-pps.t/src/main.ml
  test/blackbox-tests/test-cases/describe/describe-workspace-pp.t
  test/blackbox-tests/test-cases/describe/describe.t
Labels: refactoring

#7924 doc/melange.rst - make the alias attachment behavior of `melange.emit` clearer
  doc/melange.rst
Labels: melange

#8014 Lockdir package files have .pkg extension
  src/dune_pkg/lock_dir.ml
  src/dune_pkg/lock_dir.mli
  src/dune_rules/pkg_rules.ml
  test/blackbox-tests/test-cases/pkg/default-exported-env.t
  test/blackbox-tests/test-cases/pkg/exported-env.t
  test/blackbox-tests/test-cases/pkg/external-source.t
  test/blackbox-tests/test-cases/pkg/git-source.t
  test/blackbox-tests/test-cases/pkg/install-action-dirs.t
  test/blackbox-tests/test-cases/pkg/install-action.t
  test/blackbox-tests/test-cases/pkg/install-missing-entry.t
  test/blackbox-tests/test-cases/pkg/installed-binary.t
  test/blackbox-tests/test-cases/pkg/lockfile-generation.t/run.t
  test/blackbox-tests/test-cases/pkg/package-files.t
  test/blackbox-tests/test-cases/pkg/patch.t
  test/blackbox-tests/test-cases/pkg/per-context.t
  test/blackbox-tests/test-cases/pkg/simple-lock.t
  test/blackbox-tests/test-cases/pkg/variables.t
  test/blackbox-tests/test-cases/pkg/withenv.t
Labels: package management

#7970 feature(pkg): Arguments to specify contexts to `dune pkg lock`
  bin/pkg.ml
  src/dune_pkg/lock_dir.ml
  src/dune_pkg/lock_dir.mli
  test/blackbox-tests/test-cases/pkg/lock-per-context.t/mock-opam-repository/packages/bar/bar.0.0.1/opam
  test/blackbox-tests/test-cases/pkg/lock-per-context.t/mock-opam-repository/packages/bar/bar.0.4.0/opam
  test/blackbox-tests/test-cases/pkg/lock-per-context.t/mock-opam-repository/packages/bar/bar.0.5.0/opam
  test/blackbox-tests/test-cases/pkg/lock-per-context.t/mock-opam-repository/packages/baz/baz.0.0.1/opam
  test/blackbox-tests/test-cases/pkg/lock-per-context.t/mock-opam-repository/packages/baz/baz.0.1.0/opam
  test/blackbox-tests/test-cases/pkg/lock-per-context.t/mock-opam-repository/packages/foo/foo.0.0.1/opam
  test/blackbox-tests/test-cases/pkg/lock-per-context.t/mock-opam-repository/repo
  test/blackbox-tests/test-cases/pkg/lock-per-context.t/run.t
  test/blackbox-tests/test-cases/pkg/lockfile-generation.t/run.t
  test/expect-tests/dune_pkg/dune_pkg_unit_tests.ml
Labels: package management

#7989 doc: add index.mld for dune-glob
  otherlibs/dune-glob/dune
  otherlibs/dune-glob/index.mld
Labels: docs

#8015 feature(pkg): extra sources
  src/dune_pkg/lock_dir.ml
  src/dune_pkg/lock_dir.mli
  src/dune_pkg/opam.ml
  src/dune_rules/pkg_rules.ml
  test/blackbox-tests/test-cases/pkg/extra-sources.t
  test/expect-tests/dune_pkg/dune_pkg_unit_tests.ml
Labels: package management

#7948 test(melange): show crash when `melange.emit` depends on transitive PPX
  src/dune_rules/melange/melange_rules.ml
  src/dune_rules/resolve.ml
  src/dune_rules/resolve.mli
  src/dune_util/report_error.mli
  test/blackbox-tests/test-cases/melange/transitive-ppx.t
Labels: melange

#7922 test(coq): move extraction tests to coq/extraction/
  test/blackbox-tests/test-cases/coq/extraction/extract.t
  test/blackbox-tests/test-cases/coq/extraction/extraction-patch.t/dune
  test/blackbox-tests/test-cases/coq/extraction/extraction-patch.t/dune-project
  test/blackbox-tests/test-cases/coq/extraction/extraction-patch.t/extraction/dune
  test/blackbox-tests/test-cases/coq/extraction/extraction-patch.t/extraction/my_coq_file.v
  test/blackbox-tests/test-cases/coq/extraction/extraction-patch.t/my_prog.ml
  test/blackbox-tests/test-cases/coq/extraction/extraction-patch.t/run.t
Labels: coq
