Repository ocaml/dune, pull requests merged in 2023-02, with the labels that each got.

#6953 fix(melange): emit rule loading
  src/dune_rules/gen_rules.ml
  src/dune_rules/melange/melange_rules.ml
  src/dune_rules/melange/melange_rules.mli
  test/blackbox-tests/test-cases/melange/copy-files-include-subdirs.t
  test/blackbox-tests/test-cases/melange/copy-files-into-emit-target-folder.t
Labels: melange

#6909 Doc: use a glossary
  doc/concepts.rst
  doc/dune-files.rst
  doc/overview.rst
  doc/usage.rst
Labels: docs

#6995 doc: fix cram test in doc
  doc/tests.rst
Labels: docs

#6913 odoc: Put support files in their own directory
  CHANGES.md
  src/dune_rules/odoc.ml
  test/blackbox-tests/test-cases/odoc/multiple-private-libs.t/run.t
  test/blackbox-tests/test-cases/odoc/odoc-simple.t/run.t
  test/blackbox-tests/test-cases/odoc/odoc-unique-mlds/diff-scope.t/run.t
  test/blackbox-tests/test-cases/odoc/odoc-unique-mlds/same-scope.t/run.t
Labels: odoc

#7025 test(melange): reproduce #7020
  test/blackbox-tests/test-cases/melange/gh7020.t
Labels: melange

#6883 ctypes 0.3: run commands in stanza directory
  CHANGES.md
  src/dune_rules/ctypes/ctypes_field.ml
  src/dune_rules/ctypes/ctypes_field.mli
  src/dune_rules/ctypes/ctypes_rules.ml
  src/dune_rules/ctypes/ctypes_rules.mli
  src/dune_rules/exe_rules.ml
  src/dune_rules/lib_rules.ml
  test/blackbox-tests/test-cases/ctypes/directories.t
Labels: ctypes

#7033 fix(melange): incompatible libraries
  src/dune_rules/melange/melange_rules.ml
  test/blackbox-tests/test-cases/melange/gh7020.t
Labels: melange

#7067 chore(coq): cleanup internal error about duplicate keys for dep map
  src/dune_rules/coq/coq_rules.ml
Labels: coq

#7068 test(coq): add test for empty modules field
  test/blackbox-tests/test-cases/coq/empty-modules.t/dune-project
  test/blackbox-tests/test-cases/coq/empty-modules.t/run.t
Labels: coq

#7070 [coq] [coqdep] Better error handling, inject prelude dep in post-process
  src/dune_rules/coq/coq_rules.ml
  test/blackbox-tests/test-cases/coq/empty-modules.t/run.t
Labels: coq

#7010 Add native polling mode support on Windows
  CHANGES.md
  boot/libs.ml
  src/dune_file_watcher/dune
  src/dune_file_watcher/dune_file_watcher.ml
  src/fswatch_win/bin/dune
  src/fswatch_win/bin/dune_fswatch_win.ml
  src/fswatch_win/dune
  src/fswatch_win/fswatch_win.ml
  src/fswatch_win/fswatch_win.mli
  src/fswatch_win/fswatch_win_stubs.c
  test/unit-tests/fswatch_win/dune
  test/unit-tests/fswatch_win/fswatch_win_tests.ml
  test/unit-tests/fswatch_win/fswatch_win_tests.mli
Labels: windows

#7072 fix(melange): installed libraries path
  src/dune_rules/melange/melange_rules.ml
  test/blackbox-tests/test-cases/melange/emit-installed.t
Labels: melange

#7113 chore(coq): bump coq lang to 0.8
  src/dune_rules/coq/coq_stanza.ml
  test/blackbox-tests/test-cases/coq/coqtop/coqtop-root.t/run.t
  test/blackbox-tests/test-cases/coq/github3624.t
Labels: coq

#7114 coq: hide .theory.d files with dot prefix
  src/dune_rules/coq/coq_rules.ml
  test/blackbox-tests/test-cases/coq/base-unsound.t/run.t
  test/blackbox-tests/test-cases/coq/base.t/run.t
  test/blackbox-tests/test-cases/coq/compose-cycle.t/run.t
  test/blackbox-tests/test-cases/coq/compose-installed.t/run.t
  test/blackbox-tests/test-cases/coq/compose-plugin.t/run.t
  test/blackbox-tests/test-cases/coq/compose-projects-cycle.t/run.t
  test/blackbox-tests/test-cases/coq/compose-projects-missing.t/run.t
  test/blackbox-tests/test-cases/coq/compose-self.t/run.t
  test/blackbox-tests/test-cases/coq/coqdep-on-rebuild.t/run.t
  test/blackbox-tests/test-cases/coq/coqdoc-multi-theory.t/run.t
  test/blackbox-tests/test-cases/coq/coqdoc-with-boot.t/run.t
  test/blackbox-tests/test-cases/coq/coqdoc.t/run.t
  test/blackbox-tests/test-cases/coq/coqtop/coqtop-recomp.t
  test/blackbox-tests/test-cases/coq/extract.t
  test/blackbox-tests/test-cases/coq/ml-lib.t/run.t
  test/blackbox-tests/test-cases/coq/native-compose.t/run.t
  test/blackbox-tests/test-cases/coq/native-single.t/run.t
  test/blackbox-tests/test-cases/coq/no-stdlib.t/run.t
  test/blackbox-tests/test-cases/coq/plugin-meta.t/run.t
  test/blackbox-tests/test-cases/coq/public-dep-on-private.t/run.t
  test/blackbox-tests/test-cases/coq/rec-module.t/run.t
Labels: coq

#7109 fix(mdx): record runtime dependency to prelude
  CHANGES.md
  src/dune_rules/mdx.ml
  test/blackbox-tests/test-cases/mdx-stanza/github7077.t
Labels: mdx

#7136 [coq] Refactor Coq_lib creation
  src/dune_rules/coq/coq_lib.ml
Labels: coq

#7126 fix(doc): use sphinx < 6
  doc/requirements.txt
Labels: docs

#6611 feature: make `modes` field an Ordered_set_lang instance
  CHANGES.md
  src/dune_rules/dune_file.ml
  test/blackbox-tests/test-cases/melange/promote-with-lib.t
Labels: melange

#7137 [coq lib] Some more cleanup
  bin/coq/coqtop.ml
  src/dune_rules/coq/coq_lib.ml
  src/dune_rules/coq/coq_lib.mli
  src/dune_rules/coq/coq_rules.ml
  src/dune_rules/coq/coq_rules.mli
Labels: coq, refactoring

#7152 test(melange): demonstrate incorrect include paths compiling external lib
  src/dune_rules/obj_dir.ml
  test/blackbox-tests/test-cases/melange/depend-on-installed.t
  test/blackbox-tests/test-cases/melange/emit-private.t
Labels: melange

#7163 fix(melange): unify public libraries (in-workspace vs external)
  src/dune_rules/melange/melange_rules.ml
  src/dune_rules/module_compilation.ml
  test/blackbox-tests/test-cases/melange/public.t/run.t
Labels: melange

#7079 Add a lexer for dune files in doc
  .gitignore
  doc/advanced-topics.rst
  doc/concepts.rst
  doc/conf.py
  doc/coq.rst
  doc/cross-compilation.rst
  doc/documentation.rst
  doc/dune-files.rst
  doc/dune-libs.rst
  doc/exts/dune_lexer.py
  doc/faq.rst
  doc/foreign-code.rst
  doc/formatting.rst
  doc/hacking.rst
  doc/instrumentation.rst
  doc/jsoo.rst
  doc/lexical-conventions.rst
  doc/opam.rst
  doc/quick-start.rst
  doc/sites.rst
  doc/stanzas/alias.rst
  doc/stanzas/copy_files.rst
  doc/stanzas/data_only_dirs.rst
  doc/stanzas/deprecated_library_name.rst
  doc/stanzas/dirs.rst
  doc/stanzas/documentation.rst
  doc/stanzas/env.rst
  doc/stanzas/executable.rst
  doc/stanzas/generate_sites_module.rst
  doc/stanzas/ignored_subdirs.rst
  doc/stanzas/include.rst
  doc/stanzas/include_subdirs.rst
  doc/stanzas/install.rst
  doc/stanzas/library.rst
  doc/stanzas/mdx.rst
  doc/stanzas/menhir.rst
  doc/stanzas/ocamllex.rst
  doc/stanzas/ocamlyacc.rst
  doc/stanzas/plugin.rst
  doc/stanzas/rule.rst
  doc/stanzas/subdir.rst
  doc/stanzas/test.rst
  doc/stanzas/toplevel.rst
  doc/stanzas/vendored_dirs.rst
  doc/tests.rst
  doc/usage.rst
  doc/variants.rst
Labels: docs

#7176 melange: interpret `melc --where` as a list of `:`-separated paths
  src/dune_rules/melange/melange_binary.ml
  src/dune_rules/melange/melange_binary.mli
  src/dune_rules/merlin/merlin.ml
Labels: melange

#7196 test(melange): add a test that introduces rules in the target dir
  test/blackbox-tests/test-cases/melange/add-rules-under-melange-emit-target.t
Labels: melange
