Repository ocaml/dune, pull requests merged in 2023-01, with the labels that each got.

#6824 Use alphabetical ordering of stanzas in manual
  doc/dune-files.rst
Labels: docs

#6828 Jsoo rules bug: artifacts of libraries with public names are not found
  CHANGES.md
  src/dune_rules/jsoo_rules.ml
  test/blackbox-tests/test-cases/jsoo/public-libs.t/a/a.ml
  test/blackbox-tests/test-cases/jsoo/public-libs.t/a/dune
  test/blackbox-tests/test-cases/jsoo/public-libs.t/b/dune
  test/blackbox-tests/test-cases/jsoo/public-libs.t/b/main.ml
  test/blackbox-tests/test-cases/jsoo/public-libs.t/dune-project
  test/blackbox-tests/test-cases/jsoo/public-libs.t/run.t
Labels: jsoo

#6751 Ctypes: detect duplicate function descriptions
  src/dune_rules/ctypes/ctypes_stanza.ml
  test/blackbox-tests/test-cases/ctypes/function-description-collision.t
Labels: ctypes

#6851 doc: split stanza documentation in several files
  doc/conf.py
  doc/dune-files.rst
  doc/stanzas/alias.rst
  doc/stanzas/cinaps.rst
  doc/stanzas/copy_files.rst
  doc/stanzas/coq_theory.rst
  doc/stanzas/data_only_dirs.rst
  doc/stanzas/deprecated_library_name.rst
  doc/stanzas/dirs.rst
  doc/stanzas/documentation.rst
  doc/stanzas/env.rst
  doc/stanzas/executable.rst
  doc/stanzas/external_variant.rst
  doc/stanzas/foreign_library.rst
  doc/stanzas/generate_sites_module.rst
  doc/stanzas/ignored_subdirs.rst
  doc/stanzas/include.rst
  doc/stanzas/include_subdirs.rst
  doc/stanzas/install.rst
  doc/stanzas/jbuild_version.rst
  doc/stanzas/library.rst
  doc/stanzas/mdx.rst
  doc/stanzas/menhir.rst
  doc/stanzas/ocamllex.rst
  doc/stanzas/ocamlyacc.rst
  doc/stanzas/plugin.rst
  doc/stanzas/rule.rst
  doc/stanzas/subdir.rst
  doc/stanzas/test.rst
  doc/stanzas/toplevel.rst
  doc/stanzas/vendored_dirs.rst
Labels: docs

#6849 doc: remove spurious bold styling in ctypes doc
  doc/dune-files.rst
  doc/foreign-code.rst
Labels: docs

#6815 doc: add notes on benchmarks
  doc/hacking.rst
Labels: docs

#6846 Fix formatting problems in quick-start.rst
  doc/quick-start.rst
Labels: docs

#6850 doc: remove migration page
  MIGRATION.md
  doc/index.rst
  doc/migration.rst
  doc/overview.rst
Labels: docs

#6863 doc: use sphinx version metadata instead of titles
  doc/stanzas/data_only_dirs.rst
  doc/stanzas/dirs.rst
  doc/stanzas/generate_sites_module.rst
  doc/stanzas/ignored_subdirs.rst
  doc/stanzas/mdx.rst
  doc/stanzas/plugin.rst
  doc/stanzas/vendored_dirs.rst
Labels: docs

#6838 test: ctypes and relative include paths
  test/blackbox-tests/test-cases/ctypes/directories.t
Labels: ctypes

#6862 ctypes: rename stanza to field
  CHANGES.md
  doc/foreign-code.rst
  doc/stanzas/executable.rst
  doc/stanzas/library.rst
  src/dune_rules/ctypes/ctypes_field.ml
  src/dune_rules/ctypes/ctypes_field.mli
  src/dune_rules/ctypes/ctypes_rules.ml
  src/dune_rules/dir_contents.ml
  src/dune_rules/dune_file.ml
  src/dune_rules/dune_file.mli
  src/dune_rules/foreign.ml
  src/dune_rules/foreign.mli
  src/dune_rules/foreign_rules.ml
  src/dune_rules/foreign_sources.ml
  src/dune_rules/lib_rules.ml
  test/blackbox-tests/test-cases/ctypes/function-description-collision.t
Labels: ctypes

#6602 feat(melange): install melange libraries
  src/dune_rules/dune_package.ml
  src/dune_rules/install_rules.ml
  src/dune_rules/lib_mode.ml
  src/dune_rules/lib_mode.mli
  src/dune_rules/melange.ml
  src/dune_rules/melange.mli
  src/dune_rules/melange_rules.ml
  src/dune_rules/obj_dir.ml
  test/blackbox-tests/test-cases/melange/basic-install.t
  test/blackbox-tests/test-cases/melange/depend-on-installed.t
  test/blackbox-tests/test-cases/melange/emit-installed-complex.t/app.ml
  test/blackbox-tests/test-cases/melange/emit-installed-complex.t/dune
  test/blackbox-tests/test-cases/melange/emit-installed-complex.t/dune-project
  test/blackbox-tests/test-cases/melange/emit-installed-complex.t/dune-workspace
  test/blackbox-tests/test-cases/melange/emit-installed-complex.t/inner/dune-project
  test/blackbox-tests/test-cases/melange/emit-installed-complex.t/inner/lib1/dune
  test/blackbox-tests/test-cases/melange/emit-installed-complex.t/inner/lib1/lib1.ml
  test/blackbox-tests/test-cases/melange/emit-installed-complex.t/inner/lib2/dune
  test/blackbox-tests/test-cases/melange/emit-installed-complex.t/inner/lib2/lib2.ml
  test/blackbox-tests/test-cases/melange/emit-installed-complex.t/lib/dune
  test/blackbox-tests/test-cases/melange/emit-installed-complex.t/lib/lib.ml
  test/blackbox-tests/test-cases/melange/emit-installed-complex.t/npm/dune
  test/blackbox-tests/test-cases/melange/emit-installed-complex.t/npm/npm.ml
  test/blackbox-tests/test-cases/melange/emit-installed-complex.t/run.t
  test/blackbox-tests/test-cases/melange/emit-installed-two-modes.t
  test/blackbox-tests/test-cases/melange/emit-installed.t
  test/blackbox-tests/test-cases/melange/emit-private.t
  test/blackbox-tests/test-cases/melange/emit-two-dune-projects.t
  test/blackbox-tests/test-cases/melange/public.t/my_project/dune
  test/blackbox-tests/test-cases/melange/public.t/run.t
Labels: melange

#6868 doc: use a table to document opam sections
  doc/stanzas/install.rst
Labels: docs

#6859 chore: move melange rules to melange dir
  src/dune_rules/melange/melange.ml
  src/dune_rules/melange/melange.mli
  src/dune_rules/melange/melange_binary.ml
  src/dune_rules/melange/melange_binary.mli
  src/dune_rules/melange/melange_rules.ml
  src/dune_rules/melange/melange_rules.mli
  src/dune_rules/melange/melange_stanzas.ml
  src/dune_rules/melange/melange_stanzas.mli
Labels: melange

#6701 test(melange): add test with copy_files
  test/blackbox-tests/test-cases/melange/copy-files-emit-folder.t
  test/blackbox-tests/test-cases/melange/copy-files-lib.t/app/dune
  test/blackbox-tests/test-cases/melange/copy-files-lib.t/app/x.ml
  test/blackbox-tests/test-cases/melange/copy-files-lib.t/dune-project
  test/blackbox-tests/test-cases/melange/copy-files-lib.t/lib/assets/file.txt
  test/blackbox-tests/test-cases/melange/copy-files-lib.t/lib/dune
  test/blackbox-tests/test-cases/melange/copy-files-lib.t/lib/y.ml
  test/blackbox-tests/test-cases/melange/copy-files-lib.t/run.t
  test/blackbox-tests/test-cases/melange/copy-files.t
Labels: melange

#6811 fix(melange): include_subdirs
  src/dune_rules/melange/melange_rules.ml
  src/dune_rules/module_compilation.ml
  test/blackbox-tests/test-cases/melange/empty-entries-target-dir-exists.t
  test/blackbox-tests/test-cases/melange/include_subdirs.t/run.t
  test/blackbox-tests/test-cases/melange/intfonly-entries.t
Labels: melange

#6841 refactor(melange): switch `--bs-package-name` to library name
  src/dune_rules/compilation_context.ml
  src/dune_rules/compilation_context.mli
  src/dune_rules/lib_rules.ml
  src/dune_rules/melange/melange_rules.ml
  src/dune_rules/module_compilation.ml
  test/blackbox-tests/test-cases/melange/public.t/run.t
Labels: melange

#6916 Fix jsoo linkall detection
  CHANGES.md
  src/dune_rules/exe.ml
Labels: jsoo

#6848 feature(coq): omit -q flag during dune coq top
  CHANGES.md
  src/dune_rules/coq/coq_rules.ml
  test/blackbox-tests/test-cases/coq/coqtop/coqtop-nested.t/run.t
  test/blackbox-tests/test-cases/coq/coqtop/coqtop-recomp.t
  test/blackbox-tests/test-cases/coq/coqtop/coqtop-root.t/run.t
Labels: coq

#6927 melange: add test for warning 102
  test/blackbox-tests/test-cases/melange/flags.t
Labels: melange

#6946 melange: test demonstrating issue with copy_files
  test/blackbox-tests/test-cases/melange/not-found-melange-js-rule.t
Labels: melange

#6952 test(melange): fix copy-files-lib test
  test/blackbox-tests/test-cases/melange/copy-files-emit-folder.t
  test/blackbox-tests/test-cases/melange/copy-files-lib.t/app/dune
  test/blackbox-tests/test-cases/melange/copy-files.t
  test/blackbox-tests/test-cases/melange/not-found-melange-js-rule.t
Labels: melange

#6955 melange: clean up copy_files tests
  test/blackbox-tests/test-cases/melange/copy-files-include-subdirs.t
  test/blackbox-tests/test-cases/melange/copy-files-into-emit-target-folder.t
  test/blackbox-tests/test-cases/melange/copy-files-lib.t/app/dune
  test/blackbox-tests/test-cases/melange/copy-files-lib.t/app/x.ml
  test/blackbox-tests/test-cases/melange/copy-files-lib.t/dune-project
  test/blackbox-tests/test-cases/melange/copy-files-lib.t/lib/assets/file.txt
  test/blackbox-tests/test-cases/melange/copy-files-lib.t/lib/dune
  test/blackbox-tests/test-cases/melange/copy-files-lib.t/lib/y.ml
  test/blackbox-tests/test-cases/melange/copy-files-lib.t/run.t
  test/blackbox-tests/test-cases/melange/copy-files-simple.t
Labels: melange

#6852 doc: clarify purpose of dune files under "project"
  doc/overview.rst
Labels: docs
