Repository ocaml/dune, pull requests merged in 2023-09, with the labels that each got.

#8535 refactor: allow setting workspace root in execution parameters
  src/dune_engine/action_exec.ml
  src/dune_engine/build_system.ml
  src/dune_engine/execution_parameters.ml
  src/dune_engine/execution_parameters.mli
  src/dune_rules/dune_project.ml
  test/blackbox-tests/test-cases/dune-cache/mode-copy.t
  test/blackbox-tests/test-cases/dune-cache/mode-hardlink.t
  test/blackbox-tests/test-cases/dune-cache/repro-check.t
  test/blackbox-tests/test-cases/dune-cache/trim.t
Labels: refactoring, engine

#8537 refactor(engine): remove install paths
  bin/alias.ml
  bin/target.ml
  bin/util.ml
  src/dune_engine/build_config.ml
  src/dune_engine/build_config_intf.ml
  src/dune_engine/context_name.ml
  src/dune_engine/dpath.ml
  src/dune_engine/dpath.mli
  src/dune_engine/load_rules.ml
  src/dune_engine/process.ml
  src/dune_rules/gen_rules.ml
  src/dune_rules/import.ml
  src/dune_rules/main.ml
  src/install/context.ml
  src/install/context.mli
Labels: refactoring, package management, engine

#8647 test(pkg): copying opam repository files
  test/blackbox-tests/test-cases/pkg/opam-package-copy-files.t
Labels: package management

#8635 test(pkg): lock file generation from opam file with patch
  test/blackbox-tests/test-cases/pkg/dune
  test/blackbox-tests/test-cases/pkg/opam-package-with-patch.t
Labels: package management

#8655 refactor(pkg): package solver return type into Solver_result
  bin/pkg.ml
  src/dune_pkg/opam_solver.ml
  src/dune_pkg/opam_solver.mli
Labels: package management

#8656 test(pkg): test substs field in opam file
  test/blackbox-tests/test-cases/pkg/opam-package-with-subst.t
Labels: package management

#8654 feature(pkg): add patching support to dune pkg
  boot/libs.ml
  src/dune_patch/dune
  src/dune_patch/dune_patch.ml
  src/dune_patch/dune_patch.mli
  src/dune_pkg/opam_solver.ml
  src/dune_rules/dune
  src/dune_rules/pkg_rules.ml
  test/blackbox-tests/test-cases/pkg/opam-package-with-patch-multiple.t
  test/blackbox-tests/test-cases/pkg/opam-package-with-patch.t
  test/blackbox-tests/test-cases/pkg/patch.t
  test/expect-tests/dune_patch/dune
  test/expect-tests/dune_patch/dune_patch_tests.ml
Labels: package management

#8667 test(pkg): unknown package error
  test/blackbox-tests/test-cases/pkg/unknown-package.t
Labels: package management

#8668 fix(pkg): add support for %{make}
  src/dune_rules/expander.ml
  src/dune_rules/make_prog.ml
  src/dune_rules/make_prog.mli
  src/dune_rules/pkg_rules.ml
  test/blackbox-tests/test-cases/pkg/dune
  test/blackbox-tests/test-cases/pkg/helpers.sh
  test/blackbox-tests/test-cases/pkg/make.t
Labels: package management

#8669 feature(pkg): translate substs field of opam file into build action
  src/dune_pkg/opam_solver.ml
  test/blackbox-tests/test-cases/pkg/opam-package-subst-patch.t
  test/blackbox-tests/test-cases/pkg/opam-package-with-patch-multiple.t
  test/blackbox-tests/test-cases/pkg/opam-package-with-subst.t
Labels: package management

#8678 fix(pkg): add support for %{arch}
  src/dune_rules/pkg_rules.ml
Labels: package management

#8682 refactor(pkg): improve sys_vars handling
  src/dune_rules/pkg_rules.ml
Labels: package management

#8681 fix(pkg): hardlink or copy when installing
  src/dune_rules/pkg_rules.ml
  test/blackbox-tests/test-cases/pkg/install-missing-entry.t
Labels: package management

#8680 test(pkg): patch with filter
  test/blackbox-tests/test-cases/pkg/opam-package-with-patch-filter.t
Labels: package management

#8178 feature: dune build @doc-json
  doc/changes/odoc-json.md
  doc/reference/aliases.rst
  otherlibs/chrome-trace/src/chrome_trace.ml
  otherlibs/chrome-trace/src/chrome_trace.mli
  src/dune_rules/alias0.ml
  src/dune_rules/alias0.mli
  src/dune_rules/odoc.ml
  src/dune_stats/dune_stats.ml
  test/blackbox-tests/test-cases/odoc/doc-json.t
Labels: odoc

#8689 feature(pkg): initialize context with packages
  boot/libs.ml
  src/dune_findlib/dune
  src/dune_findlib/package0.ml
  src/dune_findlib/package0.mli
  src/dune_rules/context.ml
  src/dune_rules/context.mli
  src/dune_rules/dune
  src/dune_rules/dune_package.ml
  src/dune_rules/dune_package.mli
  src/dune_rules/findlib.ml
  src/dune_rules/install_rules.ml
  src/dune_rules/pkg_rules.ml
  src/dune_rules/pkg_rules.mli
  src/fs/dune
  src/fs/fs.ml
  src/fs/fs.mli
  test/blackbox-tests/test-cases/pkg/helpers.sh
  test/blackbox-tests/test-cases/pkg/install-missing-entry.t
  test/blackbox-tests/test-cases/pkg/libraries.t
  test/blackbox-tests/test-cases/pkg/package-resolution-cycle.t
  test/blackbox-tests/test-cases/pkg/per-context.t
  test/blackbox-tests/test-cases/pkg/pkg-deps.t
Labels: package management

#8717 fix(pkg): resolve lock dir packages in (package ..)
  src/dune_rules/dep_conf_eval.ml
  src/dune_rules/package_db.ml
  src/dune_rules/package_db.mli
  src/dune_rules/pkg_rules.ml
  src/dune_rules/pkg_rules.mli
  test/blackbox-tests/test-cases/pkg/dune
  test/blackbox-tests/test-cases/pkg/pkg-deps.t
Labels: package management

#8744 fix(pkg): [Context.which] should look up packages in lock dir
  src/dune_rules/context.ml
  src/dune_rules/expander.ml
  test/blackbox-tests/test-cases/pkg/installed-binary.t
  test/blackbox-tests/test-cases/pkg/pkg-deps.t
Labels: package management

#8633 feature(pkg): Opam repositories from dune-workspace
  bin/pkg.ml
  src/dune_pkg/dune_pkg.ml
  src/dune_pkg/lock_dir.ml
  src/dune_pkg/lock_dir.mli
  src/dune_pkg/opam_repo.ml
  src/dune_pkg/opam_repo.mli
  src/dune_pkg/opam_solver.ml
  src/dune_pkg/opam_solver.mli
  src/dune_pkg/solver_env.ml
  src/dune_pkg/solver_env.mli
  src/dune_pkg/workspace.ml
  src/dune_pkg/workspace.mli
  src/dune_rules/workspace.ml
  src/dune_rules/workspace.mli
  test/blackbox-tests/test-cases/pkg/command-from-user-path.t
  test/blackbox-tests/test-cases/pkg/default-exported-env.t
  test/blackbox-tests/test-cases/pkg/exported-env.t
  test/blackbox-tests/test-cases/pkg/external-source.t
  test/blackbox-tests/test-cases/pkg/extra-sources.t
  test/blackbox-tests/test-cases/pkg/gh8325.t
  test/blackbox-tests/test-cases/pkg/git-source.t
  test/blackbox-tests/test-cases/pkg/helpers.sh
  test/blackbox-tests/test-cases/pkg/install-action-dirs.t
  test/blackbox-tests/test-cases/pkg/install-action.t
  test/blackbox-tests/test-cases/pkg/install-missing-entry.t
  test/blackbox-tests/test-cases/pkg/installed-binary.t
  test/blackbox-tests/test-cases/pkg/just-print-solver-env.t
  test/blackbox-tests/test-cases/pkg/lock-directory-regeneration-safety.t/run.t
  test/blackbox-tests/test-cases/pkg/lockfile-generation.t/run.t
  test/blackbox-tests/test-cases/pkg/opam-repository-download.t
  test/blackbox-tests/test-cases/pkg/package-files.t
  test/blackbox-tests/test-cases/pkg/package-resolution-cycle.t
  test/blackbox-tests/test-cases/pkg/patch.t
  test/blackbox-tests/test-cases/pkg/per-context.t
  test/blackbox-tests/test-cases/pkg/pkg-action-when.t
  test/blackbox-tests/test-cases/pkg/simple-lock.t
  test/blackbox-tests/test-cases/pkg/substitute.t
  test/blackbox-tests/test-cases/pkg/unknown-package.t
  test/blackbox-tests/test-cases/pkg/variables.t
  test/blackbox-tests/test-cases/pkg/withenv.t
  test/expect-tests/dune_pkg/dune_pkg_unit_tests.ml
Labels: package management

#8751 refactor(pkg): split printing and solving
  bin/pkg.ml
Labels: package management

#8708 feature(pkg): translate setenv from opam file into dune lock dir
  src/dune_pkg/opam_solver.ml
  test/blackbox-tests/test-cases/pkg/opam-package-with-setenv.t
Labels: package management

#8755 test(pkg): make make test more repro
  test/blackbox-tests/test-cases/pkg/opam-var/opam-var-global.t
Labels: package management

#8752 fix(nix): fix utop tests
  flake.nix
Labels: nix

#8749 fix(pkg): jobs var
  src/dune_lang/pform.ml
  test/blackbox-tests/test-cases/pkg/opam-var/opam-var-global.t
Labels: package management

#8761 fix(pkg): dune.lock is ignored in --release
  bin/common.ml
  src/dune_rules/clflags.ml
  src/dune_rules/clflags.mli
  src/dune_rules/pkg_rules.ml
  test/blackbox-tests/test-cases/pkg/ignore-lock-release.t
Labels: package management
