Repository ocaml/dune, pull requests merged in 2024-03, with the labels that each got.

#10174 test: split variable artifact tests
  test/blackbox-tests/test-cases/variables-for-artifacts/artifact-variables.t/dune
  test/blackbox-tests/test-cases/variables-for-artifacts/artifact-variables.t/dune-project
  test/blackbox-tests/test-cases/variables-for-artifacts/artifact-variables.t/run.t
  test/blackbox-tests/test-cases/variables-for-artifacts/artifact-variables.t/sub/dune
  test/blackbox-tests/test-cases/variables-for-artifacts/artifact-variables.t/sub/dune-project
  test/blackbox-tests/test-cases/variables-for-artifacts/artifact-variables.t/sub2/bar2.opam
  test/blackbox-tests/test-cases/variables-for-artifacts/artifact-variables.t/sub2/dune
  test/blackbox-tests/test-cases/variables-for-artifacts/artifact-variables.t/sub2/dune-project
  test/blackbox-tests/test-cases/variables-for-artifacts/artifact-variables.t/sub3/dune
  test/blackbox-tests/test-cases/variables-for-artifacts/artifact-variables.t/sub3/dune-project
  test/blackbox-tests/test-cases/variables-for-artifacts/artifact-variables.t/sub3/foo.opam
  test/blackbox-tests/test-cases/variables-for-artifacts/deps-fail.t
  test/blackbox-tests/test-cases/variables-for-artifacts/does-not-exist-cma.t
  test/blackbox-tests/test-cases/variables-for-artifacts/does-not-exist-cmo.t
Labels: test-suite

#10186 test: properly test env stanza in workspace files
  test/blackbox-tests/test-cases/github5555.t
Labels: test-suite

#10202 test(cram): expansion bug in the cram stanza
  test/blackbox-tests/test-cases/cram/enabled_if-expansion.t
Labels: test-suite, cram

#10152 doc: remove dune:action directive
  doc/exts/sphinx_dunedomain.py
  doc/reference/actions/bash.rst
  doc/reference/actions/cat.rst
  doc/reference/actions/chdir.rst
  doc/reference/actions/cmp.rst
  doc/reference/actions/concurrent.rst
  doc/reference/actions/copy#.rst
  doc/reference/actions/copy.rst
  doc/reference/actions/diff.rst
  doc/reference/actions/diffq.rst
  doc/reference/actions/dynamic-run.rst
  doc/reference/actions/echo.rst
  doc/reference/actions/ignore-outputs.rst
  doc/reference/actions/no-infer.rst
  doc/reference/actions/pipe-outputs.rst
  doc/reference/actions/progn.rst
  doc/reference/actions/run.rst
  doc/reference/actions/setenv.rst
  doc/reference/actions/system.rst
  doc/reference/actions/with-accepted-exit-codes.rst
  doc/reference/actions/with-outputs-to.rst
  doc/reference/actions/with-stdin-from.rst
  doc/reference/actions/write-file.rst
Labels: docs

#10215 doc: remove dune:field directive
  doc/exts/sphinx_dunedomain.py
  doc/reference/files/dune-project/dialect.rst
  doc/reference/files/dune-project/package.rst
  doc/reference/files/dune-project/warnings.rst
  doc/reference/files/dune/cram.rst
Labels: docs

#10218 boot: remove unused "executables" value
  boot/libs.ml
  src/dune_rules/bootstrap_info.ml
Labels: refactoring

#10154 doc: add an howto about rule generation
  doc/howto/index.rst
  doc/howto/rule-generation.rst
Labels: docs

#10219 doc: remove dune:stanza directive
  doc/conf.py
  doc/exts/sphinx_dunedomain.py
  doc/reference/files/dune-project/accept_alternative_dune_file_name.rst
  doc/reference/files/dune-project/cram.rst
  doc/reference/files/dune-project/dialect.rst
  doc/reference/files/dune-project/executables_implicit_empty_intf.rst
  doc/reference/files/dune-project/expand_aliases_in_sandbox.rst
  doc/reference/files/dune-project/explicit_js_mode.rst
  doc/reference/files/dune-project/formatting.rst
  doc/reference/files/dune-project/generate_opam_files.rst
  doc/reference/files/dune-project/implicit_transitive_deps.rst
  doc/reference/files/dune-project/map_workspace_root.rst
  doc/reference/files/dune-project/name.rst
  doc/reference/files/dune-project/opam_file_location.rst
  doc/reference/files/dune-project/package.rst
  doc/reference/files/dune-project/subst.rst
  doc/reference/files/dune-project/use_standard_c_and_cxx_flags.rst
  doc/reference/files/dune-project/using.rst
  doc/reference/files/dune-project/version.rst
  doc/reference/files/dune-project/warnings.rst
  doc/reference/files/dune-project/wrapped_executables.rst
  doc/reference/files/dune/cram.rst
Labels: docs

#10226 Test error cases of OSL and predicate langugae
  test/blackbox-tests/test-cases/ordered-set-language-errors.t
  test/blackbox-tests/test-cases/predicate-language-errors.t
Labels: test-suite

#10245 test: %{cma:..} of disabled lib
  test/blackbox-tests/test-cases/enabled_if/cma-pform.t
Labels: test-suite

#6412 fix(melange): error if using non-melange lib as dependency in melange.emit
  src/dune_rules/melange/melange_rules.ml
  test/blackbox-tests/test-cases/melange/lib-no-melange.t
Labels: melange

#10095 test(pkg): [exported_env] and [PATH]
  test/blackbox-tests/test-cases/pkg/setenv-bin-dir.t
Labels: package management

#10270 feat(melange): support `esm` for module_systems too
  src/dune_rules/melange/melange.ml
  src/dune_rules/melange/melange.mli
  src/dune_rules/melange/melange_stanzas.ml
  test/blackbox-tests/test-cases/melange/module-systems.t
Labels: melange

#10279 test: remove a bunch of pointless --dispay short
  test/blackbox-tests/test-cases/all-alias/private-exe.t/run.t
  test/blackbox-tests/test-cases/all-alias/private-lib.t/run.t
  test/blackbox-tests/test-cases/cinaps/custom-alias.t
  test/blackbox-tests/test-cases/dialects/dots.t/run.t
  test/blackbox-tests/test-cases/dune-init.t/run.t
  test/blackbox-tests/test-cases/github24.t/run.t
  test/blackbox-tests/test-cases/inline_tests/parallel.t/run.t
  test/blackbox-tests/test-cases/intf-only/foo.t/run.t
  test/blackbox-tests/test-cases/jsoo/explicit-js-mode-anon.t/run.t
  test/blackbox-tests/test-cases/jsoo/explicit-js-mode-specified.t/run.t
  test/blackbox-tests/test-cases/jsoo/no-check-prim.t/run.t
  test/blackbox-tests/test-cases/jsoo/public-libs.t/run.t
  test/blackbox-tests/test-cases/melange/enabled_if.t
  test/blackbox-tests/test-cases/modules-expansion.t
  test/blackbox-tests/test-cases/odoc/multiple-private-libs.t/run.t
  test/blackbox-tests/test-cases/odoc/odoc-unique-mlds/diff-scope.t/run.t
  test/blackbox-tests/test-cases/private-public-overlap/optional.t/run.t
  test/blackbox-tests/test-cases/private-public-overlap/private-rewriter.t/run.t
  test/blackbox-tests/test-cases/rewrite-tests/library-install-paths.t
  test/blackbox-tests/test-cases/sites-plugin.t
  test/blackbox-tests/test-cases/toplevel-plugin/toplevel-plugin-fail.t
  test/blackbox-tests/test-cases/toplevel-plugin/toplevel-plugin-fail2.t
  test/blackbox-tests/test-cases/toplevel-plugin/toplevel-plugin.t
  test/blackbox-tests/test-cases/variables-for-artifacts/artifact-variables.t/run.t
Labels: test-suite

#9189 melange: repro of paths issues with include_subdirs
  test/blackbox-tests/test-cases/melange/library-include-subdirs.t
Labels: melange

#10288 test(melange): add `(emit_stdlib false)` to supported melange tests
  test/blackbox-tests/test-cases/melange/copy-files-into-emit-target-folder.t
  test/blackbox-tests/test-cases/melange/depend-on-installed.t
  test/blackbox-tests/test-cases/melange/dune-js-file-unmangling.t/dune
  test/blackbox-tests/test-cases/melange/dune-package-source-path.t
  test/blackbox-tests/test-cases/melange/emit-installed-complex.t/dune
  test/blackbox-tests/test-cases/melange/emit-installed-two-modes.t
  test/blackbox-tests/test-cases/melange/emit-installed.t
  test/blackbox-tests/test-cases/melange/emit-select.t
  test/blackbox-tests/test-cases/melange/emit-two-dune-projects.t
  test/blackbox-tests/test-cases/melange/empty-entries.t
  test/blackbox-tests/test-cases/melange/flags.t
  test/blackbox-tests/test-cases/melange/include_subdirs.t/inside/dune
  test/blackbox-tests/test-cases/melange/intfonly-entries.t
  test/blackbox-tests/test-cases/melange/intfonly.t/dune
  test/blackbox-tests/test-cases/melange/lib-no-melange.t
  test/blackbox-tests/test-cases/melange/library-modes.t
  test/blackbox-tests/test-cases/melange/merlin-compile-flags.t
  test/blackbox-tests/test-cases/melange/merlin.t
  test/blackbox-tests/test-cases/melange/missing-melc.t
  test/blackbox-tests/test-cases/melange/mli.t/dune
  test/blackbox-tests/test-cases/melange/multilib.t/dune
  test/blackbox-tests/test-cases/melange/nested-melange-emit-stanzas.t
  test/blackbox-tests/test-cases/melange/ocaml-flags.t
  test/blackbox-tests/test-cases/melange/preprocess.t
  test/blackbox-tests/test-cases/melange/private-module.t/dune
  test/blackbox-tests/test-cases/melange/private.t/inside/dune
  test/blackbox-tests/test-cases/melange/promote-with-lib.t
  test/blackbox-tests/test-cases/melange/public.t/my_project/dune
  test/blackbox-tests/test-cases/melange/reused-module.t
  test/blackbox-tests/test-cases/melange/root-module.t
  test/blackbox-tests/test-cases/melange/simple.t/lib/dune
  test/blackbox-tests/test-cases/melange/target-validation.t
  test/blackbox-tests/test-cases/melange/unmangling.t
  test/blackbox-tests/test-cases/melange/virtual_lib.t/dune
Labels: test-suite, melange, performance

#10286 fix(melange): track immediate `.cmj` deps as dependencies of JS rules
  bin/describe/describe_workspace.ml
  doc/changes/10286.md
  src/dune_rules/dep_rules.ml
  src/dune_rules/dep_rules.mli
  src/dune_rules/melange/melange_rules.ml
  src/dune_rules/virtual_rules.ml
  test/blackbox-tests/test-cases/melange/library-include-subdirs.t
Labels: melange

#10181 refactor: move coq scopes to own module
  src/dune_rules/coq/coq_scope.ml
  src/dune_rules/coq/coq_scope.mli
  src/dune_rules/scope.ml
Labels: coq

#9758 doc: use cards in index
  doc/conf.py
  doc/index.rst
  doc/reference/actions/index.rst
  doc/reference/files/dune/index.rst
  doc/requirements.txt
  flake.nix
Labels: docs

#10297 fix(melange): account for preprocessing when getting library's Modules.t during emission
  src/dune_rules/melange/melange_rules.ml
  src/dune_rules/module.mli
  test/blackbox-tests/test-cases/melange/unexpected-ocamldep-output.t
Labels: melange

#10298 test: add eif library cycle test
  test/blackbox-tests/test-cases/enabled_if/eif-library-cycle.t
Labels: test-suite

#10267 pkg: Set OCAMLFIND_DESTDIR for install actions
  src/dune_rules/pkg_rules.ml
  test/blackbox-tests/test-cases/pkg/set-ocamlfind-destdir.t
Labels: package management

#10319 doc-new: Omit docs for 'empty libraries'
  doc/changes/10319.md
  src/dune_rules/odoc_new.ml
Labels: odoc

#10312 test(melange): enable the dune sandbox for melange tests
  test/blackbox-tests/test-cases/melange/dune
  test/blackbox-tests/test-cases/melange/odoc.t
Labels: test-suite, melange
