Repository ocaml/dune, pull requests merged in 2024-04, with the labels that each got.

#10345 chore(melange): move comment to where it belongs
  src/dune_rules/melange/melange_rules.ml
  src/dune_rules/obj_dir.ml
Labels: melange

#10233 Add repro for gh10232
  test/blackbox-tests/test-cases/pkg/pin-stanza/update-non-dune-local-pin.t
Labels: package management

#10385 pkg: user error when non-existent repo specified
  src/dune_pkg/fetch.ml
  src/dune_pkg/fetch.mli
  src/dune_pkg/opamUrl0.ml
  src/dune_pkg/opamUrl0.mli
  src/dune_pkg/opam_repo.ml
  src/dune_pkg/rev_store.ml
  src/dune_pkg/rev_store.mli
  src/dune_pkg/source.ml
  src/dune_rules/fetch_rules.ml
  test/blackbox-tests/test-cases/pkg/unavailable-package-source.t
  test/expect-tests/dune_pkg/fetch_tests.ml
  test/expect-tests/dune_pkg/rev_store_tests.ml
Labels: package management

#10403 pkg: improve error message when curl not installed
  src/dune_pkg/fetch.ml
  test/blackbox-tests/test-cases/pkg/curl-not-installed.t
Labels: package management

#10411 test(melange): show dependency missing bug with virtual libraries
  test/blackbox-tests/test-cases/melange/virtual-lib-transitive.t
Labels: virtual libraries, test-suite, melange

#10412 fix(melange): during JS emission, depend on virtual lib implementations
  doc/changes/10412.md
  src/dune_rules/melange/melange_rules.ml
  test/blackbox-tests/test-cases/melange/virtual-lib-transitive.t
Labels: virtual libraries, melange

#10415 fix(melange): treat private libraries with `(package ..)` as public libs
  doc/changes/10415.md
  src/dune_rules/cinaps.ml
  src/dune_rules/compilation_context.ml
  src/dune_rules/compilation_context.mli
  src/dune_rules/exe_rules.ml
  src/dune_rules/inline_tests.ml
  src/dune_rules/lib_rules.ml
  src/dune_rules/mdx.ml
  src/dune_rules/melange/melange_rules.ml
  src/dune_rules/module_compilation.ml
  src/dune_rules/ppx_driver.ml
  src/dune_rules/toplevel.ml
  src/dune_rules/utop.ml
  test/blackbox-tests/test-cases/melange/emit-private.t
  test/blackbox-tests/test-cases/melange/private-lib-dep.t
Labels: melange

#10416 fix(melange): add `.cmj` include dirs for installed private libs
  doc/changes/10416.md
  src/dune_rules/lib_flags.ml
  src/dune_rules/lib_flags.mli
  src/dune_rules/melange/melange_rules.ml
  test/blackbox-tests/test-cases/melange/installed-private-lib-dep.t
Labels: melange

#10420 test(melange): test melange private libraries with `(package ..)` field
  test/blackbox-tests/test-cases/melange/private-lib-with-package.t
Labels: test-suite, melange

#10421 test(melange): augment a test case for ocaml-flags
  test/blackbox-tests/test-cases/melange/copy-files-include-subdirs.t
  test/blackbox-tests/test-cases/melange/ocaml-flags.t
Labels: melange

#10418 melange: better error message for offending runtime_dep in public libs
  src/dune_rules/install_rules.ml
  test/blackbox-tests/test-cases/melange/installed-library-with-runtime-deps-nested-errors.t
Labels: melange

#10419 fix(melange): better error message for nested `melange.emit` stanzas
  src/dune_rules/melange/melange_rules.ml
  test/blackbox-tests/test-cases/melange/nested-melange-emit-stanzas.t
Labels: melange

#10407 pkg: add test updating PATH with withenv
  test/blackbox-tests/test-cases/pkg/withenv-path.t
Labels: package management

#10379 doc: tour of the dune codebase
  doc/explanation/index.rst
  doc/explanation/tour/cli.rst
  doc/explanation/tour/decoding.rst
  doc/explanation/tour/engine.rst
  doc/explanation/tour/index.rst
  doc/explanation/tour/libraries.rst
  doc/explanation/tour/rule-generation.rst
  doc/explanation/tour/tests.rst
  doc/explanation/tour/vendor.rst
Labels: docs

#10444 Fix gh10408
  otherlibs/stdune/src/bin.ml
  otherlibs/stdune/src/bin.mli
  otherlibs/stdune/src/env.ml
  otherlibs/stdune/src/env.mli
  src/dune_rules/pkg_rules.ml
  test/blackbox-tests/test-cases/pkg/withenv-path.t
Labels: package management

#10429 [coq] Add support for per-file flags.
  doc/coq.rst
  editor-integration/emacs/dune.el
  src/dune_rules/coq/coq_module.ml
  src/dune_rules/coq/coq_module.mli
  src/dune_rules/coq/coq_rules.ml
  src/dune_rules/coq/coq_stanza.ml
  src/dune_rules/coq/coq_stanza.mli
  test/blackbox-tests/test-cases/coq/coqtop/coqtop-root.t/run.t
  test/blackbox-tests/test-cases/coq/github3624.t
  test/blackbox-tests/test-cases/coq/per_file_flags.t/bar.v
  test/blackbox-tests/test-cases/coq/per_file_flags.t/base.opam
  test/blackbox-tests/test-cases/coq/per_file_flags.t/dune
  test/blackbox-tests/test-cases/coq/per_file_flags.t/dune-project
  test/blackbox-tests/test-cases/coq/per_file_flags.t/foo.v
  test/blackbox-tests/test-cases/coq/per_file_flags.t/run.t
Labels: enhancement, coq

#10463 test(lib-collision): show dune uses the relevant loc for collision errors
  test/blackbox-tests/test-cases/lib-collision/lib-collision-public-name.t
Labels: test-suite
