Repository ocaml/dune, pull requests merged in 2025-08, with the labels that each got.

#12127 [3.20] backport: PR #12121
  vendor/ocaml-blake3-mini/dune
Labels: release

#12132 chore: restore maintenance intent
  dune-private-libs.opam
  dune-project
  dyn.opam
  ocamlc-loc.opam
  ordering.opam
  stdune.opam
Labels: bug, chore

#12102 feat(melange): promote in-source with `(using melange 1.0)`
  src/dune_rules/melange/melange_rules.ml
  test/blackbox-tests/test-cases/melange/promote-in-source-public-lib.t
  test/blackbox-tests/test-cases/melange/promote-in-source.t
Labels: melange

#12144 melange_rules: remove Path.mkdir_p calls after #12145
  src/dune_rules/melange/melange_rules.ml
  test/blackbox-tests/test-cases/melange/promote-in-source.t
Labels: melange

#12142 test: include_subdirs unqualified duplicates cram rules
  src/dune_rules/coq/coq_sources.ml
  src/dune_rules/dir_contents.ml
  src/dune_rules/dir_contents.mli
  src/dune_rules/dir_status.ml
  src/dune_rules/dir_status.mli
  src/dune_rules/foreign_sources.ml
  src/dune_rules/gen_rules.ml
  src/dune_rules/ml_sources.ml
  src/dune_rules/source_file_dir.ml
  src/dune_rules/source_file_dir.mli
  test/blackbox-tests/test-cases/cram/include-subdirs.t
Labels: bug

#12152 melange: promote runtime assets in source
  src/dune_rules/melange/melange_rules.ml
  test/blackbox-tests/test-cases/melange/promote-in-source-with-runtime-deps.t
Labels: melange

#12159 test(melange): promote installed library w/ runtime deps in source
  test/blackbox-tests/test-cases/melange/promote-in-source-installed-lib-with-runtime-deps.t
Labels: melange

#12190 refactor(melange_rules): target promotion
  src/dune_rules/melange/melange_rules.ml
Labels: melange

#12296 feat(melange): dir targets in `(library (melange.runtime_deps ..))`
  src/dune_rules/melange/melange_rules.ml
  test/blackbox-tests/test-cases/melange/library-with-dir-target-runtime-deps.t
Labels: melange

#12240 chore: backport 3.20.0 changelog
  CHANGES.md
  doc/changes/10892.md
  doc/changes/11109.md
  doc/changes/11194.md
  doc/changes/11558.md
  doc/changes/11735.md
  doc/changes/11801.md
  doc/changes/11836.md
  doc/changes/11840.md
  doc/changes/11841.md
  doc/changes/11863.md
  doc/changes/11866.md
  doc/changes/11905.md
  doc/changes/11936.md
  doc/changes/11956.md
  doc/changes/11987.md
  doc/changes/12010.md
  doc/changes/12041.md
  doc/changes/12043.md
Labels: release

#12301 [3.20] backport #12242
  doc/changes/12242.md
  src/dune_rules/test_rules.ml
  test/blackbox-tests/test-cases/jsoo/tests.t/dune
  test/blackbox-tests/test-cases/jsoo/tests.t/run.t
Labels: release

#12300 [3.20] backport #12245
  bench/dune
  doc/changes/12245.md
  otherlibs/stdune/src/dune
  src/dune_cache/dune
  src/dune_config_file/dune
  src/dune_digest/dune
  src/dune_engine/dune
  src/dune_file_watcher/dune
  src/dune_lang/format.ml
  src/dune_pkg/dune
  src/dune_rpc_impl/dune
  src/dune_rpc_server/dune
  src/dune_rules/dune
  src/dune_rules_rpc/dune
  src/dune_tui/dune
  src/install/dune
  src/promote/dune
  src/source/dune
  src/upgrader/dune
  test/blackbox-tests/test-cases/ctypes/dune
  test/blackbox-tests/test-cases/describe/describe-workspace-pp.t
  test/blackbox-tests/test-cases/describe/describe.t
  test/blackbox-tests/test-cases/dune
  test/blackbox-tests/test-cases/formatting/format-dune-file.t/run.t
  test/blackbox-tests/test-cases/github7034.t/run.t
  test/blackbox-tests/test-cases/pkg/dune
  test/blackbox-tests/test-cases/watching/dune
  test/blackbox-tests/utils/dune
  test/expect-tests/dune_action_plugin/dune
  test/expect-tests/dune_file_watcher/dune
  test/expect-tests/inotify_tests/dune
Labels: release

#12246 add melange to `@ocaml-index` alias
  src/dune_rules/melange/melange_rules.ml
  src/dune_rules/merlin/ocaml_index.ml
  test/blackbox-tests/test-cases/melange/merlin.t
Labels: melange
