Repository ocaml/dune, pull requests merged in 2025-07, with the labels that each got.

#11986 test(melange): show melange emits the (empty) module group wrapper
  test/blackbox-tests/test-cases/melange/melange-wrapper-module.t
Labels: melange

#11996 pkg: add command to install dev tools
  bin/tools/tools.ml
  bin/tools/tools_common.ml
  bin/tools/tools_common.mli
  test/blackbox-tests/test-cases/pkg/ocamlformat/ocamlformat-install.t
Labels: package management

#12000 chore: add release template
  .github/ISSUE_TEMPLATE/release.md
Labels: chore, release

#11997 pkg: command to check if project intends to use dune package management
  bin/pkg/pkg.ml
  bin/pkg/pkg_common.ml
  bin/pkg/pkg_common.mli
  bin/pkg/pkg_enabled.ml
  bin/pkg/pkg_enabled.mli
  test/blackbox-tests/test-cases/pkg/pkg-enabled.t
Labels: package management

#10767 Jsoo shapes
  src/dune_rules/jsoo/jsoo_rules.ml
  src/dune_rules/jsoo/jsoo_rules.mli
  src/dune_rules/lib_rules.ml
  src/dune_rules/module_compilation.ml
  test/blackbox-tests/test-cases/jsoo/explicit-js-mode-specified.t/run.t
  test/blackbox-tests/test-cases/jsoo/inline-tests.t/run.t
  test/blackbox-tests/test-cases/jsoo/no-check-prim.t/run.t
  test/blackbox-tests/test-cases/wasmoo/no-check-prim.t/run.t
Labels: jsoo

#12051 melange_rules: use `Melange_stanzas.Emit.target_dir` everywhere
  src/dune_rules/melange/melange_rules.ml
Labels: melange

#12052 refactor(melange_rules): store target / output_dir separately in `Output_kind`
  src/dune_rules/melange/melange_rules.ml
Labels: melange

#12010 [RPC] Allow promotion while watch server is running
  CHANGES.md
  bin/build.ml
  bin/diagnostics.ml
  bin/fmt.ml
  bin/promotion.ml
  bin/rpc/rpc_build.ml
  bin/rpc/rpc_build.mli
  bin/rpc/rpc_common.ml
  bin/rpc/rpc_common.mli
  bin/rpc/rpc_ping.ml
  bin/rpc/rpc_status.ml
  bin/shutdown.ml
  boot/libs.ml
  doc/changes/12010.md
  otherlibs/dune-rpc/private/dune
  otherlibs/dune-rpc/private/dune_rpc_private.ml
  otherlibs/dune-rpc/private/dune_rpc_private.mli
  otherlibs/dune-rpc/private/exported_types.ml
  otherlibs/dune-rpc/private/exported_types.mli
  otherlibs/dune-rpc/private/procedures.ml
  otherlibs/dune-rpc/private/procedures.mli
  src/dune_engine/compound_user_error.ml
  src/dune_engine/compound_user_error.mli
  src/dune_engine/dune_engine.ml
  src/dune_engine/import.ml
  src/dune_lang/dune_project.ml
  src/dune_rpc_impl/decl.ml
  src/dune_rpc_impl/decl.mli
  src/dune_rpc_impl/diagnostics.ml
  src/dune_rpc_impl/server.ml
  src/dune_rules/dune
  src/dune_rules/import.ml
  src/promote/diff_promotion.ml
  src/promote/diff_promotion.mli
  src/promote/dune
  src/source/dune
  src/source/import.ml
  test/blackbox-tests/test-cases/watching/direct-promotion.t
  test/expect-tests/dune_rpc_impl/dune_rpc_impl_tests.ml
Labels: rpc, watch mode

#12089 [3.20] fixes 3.20~alpha0 changelog
  CHANGES.md
Labels: release

#12095 [3.20] prepare 3.20~alpha1 release
  CHANGES.md
  doc/changes/12041.md
Labels: release
